Latitude         [ deg ]
Longitude        [ deg ]
Angular Distance [ deg ]
Height UP        [ m   ]
Height DN        [ m   ]
Velocity         [ m/s ]
Mechanical Load  [ -   ]
Heat Flux.       [W/m^2]
Dynamic Pressure [N/m^2]
Moment Coef. C_m [ -   ]
Bending Moment   [Pa-rad]